<div>
	<p>{{book.title}}</p>

	<div>{{book.author}}</div>
	<img src={{book.image}} width="500px" height="500px"/>

	<div>{{book.description}}</div>

	<button ng-click="readBook()">I read this</button>
	<button ng-click="addToWishList()">Add to wish list</button>
	<br>
	Rating: <input type="text" ng-model="rating"><br>
	Mystery and Suspicion: <input type="text" ng-model="misteryAndSuspicion"><br>
	Beautiful Language: <input type="text" ng-model="beautifulLanguage"><br>
	Complex Relationships: <input type="text" ng-model="complexRelationships"><br>
	Intriguing characters: <input type="text" ng-model="intriguingCharacters"><br>
	Immersive storylines: <input type="text" ng-model="immersiveStorylines"><br>
	
	Review: <input type="text" ng-model="comment"><br>
	<button ng-click="addReview()">Add review</button>

</div>