<div>
	
	<div class="book-container" style="display:block; min-height: 180px; max-height: 400px;" >
	<img style="float:left; margin: 10px;" src={{book.image}} width="150" height="150"/>
	<h3>{{book.title}}</h3>
	<h4>{{book.author}}</h4>
	<p ng-bind-html="book.description"></p>
	</div>

	<div class="book-ratings">
	Rating: <div class="inline-stars" star-rating ng-model="book.rating" readonly="true" max="5" ></div> <br>
	Mystery and Suspicion: <div class="inline-stars" star-rating ng-model="book.misteryAndSuspicion" readonly="true" max="10" ></div> <br>
	Beautiful Language: <div class="inline-stars" star-rating ng-model="book.beautifulLanguage" readonly="true" max="10" ></div> <br>
	Complex Relationships: <div class="inline-stars" star-rating ng-model="book.complexRelationships" readonly="true" max="10" ></div> <br>
	Intriguing characters: <div class="inline-stars" star-rating ng-model="book.intriguingCharacters" readonly="true" max="10" ></div> <br>
	Immersive storylines: <div class="inline-stars" star-rating ng-model="book.immersiveStorylines" readonly="true" max="10" ></div> <br>
	</div>

	<button class="btn btn-primary" id="readBook" ng-click="readBook()" ng-hide="book.isRead">I read this</button>
	<button class="btn btn-warning" id="addToWishList" ng-click="addToWishList()" ng-hide="book.isInWishlist">Add to wishlist</button>
	<button class="btn btn-warning" id="addToWishList" ng-click="removeFromWishlist()" ng-hide="!book.isInWishlist">Remove from wishlist</button>

	
	<hr>
	 <div ng-hide="book.isReviewed"> 	 	
	 <h4>Write a review: </h4>
		<br>
	Rating: <div class="inline-stars" star-rating ng-model="rating" max="5" ></div> <br>
	Mystery and Suspicion: <div class="inline-stars" star-rating ng-model="misteryAndSuspicion" max="10" ></div> <br>
	Beautiful Language: <div class="inline-stars" star-rating ng-model="beautifulLanguage" max="10" ></div> <br>
	Complex Relationships: <div class="inline-stars" star-rating ng-model="complexRelationships" max="10" ></div> <br>
	Intriguing characters: <div class="inline-stars" star-rating ng-model="intriguingCharacters" max="10" ></div> <br>
	Immersive storylines: <div class="inline-stars" star-rating ng-model="immersiveStorylines" max="10" ></div> <br>
		
		Review: <textarea style="margin: 5px;" class="form-control" ng-model="comment" rows="4"></textarea>
		<button class="btn btn-primary" ng-click="addReview()">Add review</button>
	</div>
	<hr>

	<h4 ng-show="reviews.length > 0">Reviews:</h4>
	 <ul>
	    <li ng-repeat="review in reviews">
   		 	<h5>{{review.text}}</h5>

	      	<div class="inline-stars" star-rating ng-model="review.rating" readonly="true" max="5" ></div> <br>
	    </li>
	 </ul>

</div>